@model NhomBunny.Models.Product

<h2>Sửa sản phẩm</h2>

<form method="post">
    <input type="hidden" name="Id" value="@Model.Id" />

    <label>Tên:</label>
    <input name="Name" value="@Model.Name" class="form-control" />

    <label>Giá:</label>
    <input name="Price" value="@Model.Price" class="form-control" />

    <label>Ảnh (URL):</label>
    <input name="Image" value="@Model.Image" class="form-control" />

    <button class="btn btn-primary mt-3">Sửa</button>
</form>