@model NhomBunny.Models.Product

<h2>Thêm sản phẩm</h2>

<form method="post">
    <label>Tên:</label>
    <input name="Name" class="form-control" />

    <label>Giá:</label>
    <input name="Price" class="form-control" />

    <label>Ảnh (URL):</label>
    <input name="Image" class="form-control" />

    <button class="btn btn-success mt-3">Thêm</button>
</form>